[user]
  name = Jordan Moore
  email = jordanmoore.nz@gmail.com
[color]
  ui = true
[core]
  editor = code --wait
  pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[push]
  default = current
  autoSetupRemote = true
[commit]
  gpgsign = true
